.markdownBody {
    $textFontSize: 16px;
    font-size: 10px;
    margin-bottom: 60px;

    > * {
        max-width: var(--globalMaxWidth);
        margin: 0 auto;
        padding: 0 var(--globalHorizontalPadding) 0;
    }

    h1,
    h2,
    h3,
    h4 {
        margin-top: 2em;
        margin-bottom: 1.25em;
    }

    p {
        margin-bottom: 2em;
        font-size: $textFontSize;

        img {
            display: block;
            margin: 0 auto;
            font-size: 12px;
            max-width: 100%;
            padding: 0;
        }
    }

    a {
        text-decoration: underline;
    }

    ul,
    ol {
        list-style-position: inside;
        margin-bottom: 30px;

        li {
            font-size: $textFontSize;
            margin-bottom: 1em;

            > p {
                display: inline;
            }
        }
    }

    code {
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.24);
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 85%;
    }

    blockquote {
        margin-bottom: 2em;
        padding-left: 30px;
        font-style: italic;
        opacity: 0.8;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            border-left: 0.32813rem solid #777;
            left: 15px;
            height: 100%;
        }

        & > :last-child {
            margin-bottom: 0;
        }
    }

    hr {
        margin-bottom: 2em;
        background-color: var(--brandTextColor);
        opacity: 0.5;
        border: none;
        height: 1px;
    }

    pre {
        margin-bottom: 20px;
        padding: 1.3125rem;
        background-color: #111;
        border-radius: 10px;
        width: 100%;
        overflow: auto;
        font-size: 16px;

        code {
            background: none;
            padding: 0;
            font-size: 100%;
        }
    }
}
