$primaryFontBaseSize: 10px !default;
$tabletUp: 768px !default;
$primaryBGColor: #000 !default;
$primaryColor: #ccc !default;
$primaryFontFamily: Verdana, Arial, Helvetica, sans-serif !default;
$brandTextColor: #fff !default;
$textHoverOpacity: 0.8 !default;
$headerHeight: 140px !default;
$headerHeightTabletUp: 80px !default;
$globalMaxWidth: 76rem !default;
$globalHorizontalPadding: 2.5rem !default;